@import url("/excel.css");

html {
  font: normal 16px/1.5 sans-serif;
}

body {
  color: #24292f;
  background-color: #ffffff;
}

/* if screen width > 760 */
@media (min-width: 48em) {
  body {
    max-width: 50em;
    margin-inline: auto;
  }
}

a {
  color: #0969da;
}

a:visited {
  color: #57606a;
}

.green {
  color: #1a7f37;
}

.red {
  color: #cf222e;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #adbac7;
    background-color: #22272e;
  }

  a {
    color: #539bf5;
  }

  a:visited {
    color: #768390;
  }

  .green {
    color: #57ab5a;
  }

  .red {
    color: #e5534b;
  }
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

p,
table {
  margin: 1em 0;
}

/* graphviz */
p.graph {
  text-align: center;
}

p.graph svg {
  max-width: 100%;
}

.graph polygon {
  fill: transparent;
}

@media (prefers-color-scheme: dark) {
  .graph g path[stroke="#000000"],
  .graph g polygon[stroke="#000000"],
  .graph g ellipse[stroke="#000000"],
  .graph g path[stroke="#000"],
  .graph g polygon[stroke="#000"],
  .graph g ellipse[stroke="#000"],
  .graph g path[stroke="black"],
  .graph g polygon[stroke="black"],
  .graph g ellipse[stroke="black"] {
    stroke: white;
  }

  .graph g text[fill="#000000"],
  .graph g text[fill="#000"],
  .graph g text[fill="black"] {
    fill: white;
  }
}
